################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SLRAS_Demo/SLRAS_Demo/bin/Debug/net8.0
/SLRAS_Demo/SLRAS_Demo/obj
/SLRAS_Demo/.vs/SLRAS_Demo
