USE [SLMS]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 26-11-2025 22:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 26-11-2025 22:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_UserRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 26-11-2025 22:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[PasswordHash] [varbinary](512) NOT NULL,
	[PasswordSalt] [varbinary](512) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Mobile] [varchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Roles] ADD  CONSTRAINT [DF_Roles_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserRoles] ADD  CONSTRAINT [DF_UserRoles_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
/****** Object:  StoredProcedure [dbo].[CreateUser]    Script Date: 26-11-2025 22:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CreateUser] 
	@emailId VARCHAR(50),
	@passwordHash VARBINARY(512),
	@passwordSalt VARBINARY(512),
	@firstName VARCHAR(50),
	@lastName VARCHAR(50),
	@mobileNumber VARCHAR(20),
	@roleId varchar(100),
	@userId int output
AS
BEGIN
	INSERT INTO [dbo].[Users]
           ([Email]
           ,[PasswordHash]
           ,[PasswordSalt]
           ,[FirstName]
           ,[LastName]
           ,[Mobile]
           )
     VALUES
           (@emailId
           ,@passwordHash
           ,@passwordSalt
           ,@firstName
           ,@lastName
           ,@mobileNumber
           )
     SET @userId=SCOPE_IDENTITY()
	 INSERT INTO UserRoles(UserId,RoleId,IsActive) 
	 SELECT @userId, CAST(value AS INT) AS RoleId, 1 AS IsActive FROM STRING_SPLIT(@roleId, ',');;
END

--Select * from Roles

--SELECT compatibility_level  
--FROM sys.databases 
--WHERE name = 'SLMS';

--SELECT value 
--FROM STRING_SPLIT('1,2,3', ',');
GO
/****** Object:  StoredProcedure [dbo].[GetUserByEmail]    Script Date: 26-11-2025 22:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetUserByEmail] 
	@email varchar(50)
AS
BEGIN
	Select 
	u.Id,
	U.Email,
	U.PasswordHash,
	U.PasswordSalt,
	U.FirstName,
	U.LastName,	
	U.Mobile,
	r.Id as RoleId,
	r.Name as RoleName
	FROM Users U
	INNER JOIN UserRoles UR ON U.Id=UR.UserId
	INNER JOIN Roles R ON R.Id=UR.RoleId
	WHERE U.Email=@email and u.IsActive=1 and ur.IsActive=1 and r.IsActive=1
END

GO
/****** Object:  StoredProcedure [dbo].[UpdateUser]    Script Date: 26-11-2025 22:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
Create PROCEDURE [dbo].[UpdateUser] 
	@emailId VARCHAR(50),
	@passwordHash VARBINARY(512),
	@passwordSalt VARBINARY(512),
	@firstName VARCHAR(50),
	@lastName VARCHAR(50),
	@mobileNumber VARCHAR(20),
	@roleId int,
	@userId int 
AS
BEGIN

  UPDATE [dbo].[Users]
   SET [Email] = @emailId
      ,[PasswordHash] = @passwordHash
      ,[PasswordSalt] = @passwordSalt
      ,[FirstName] = @firstName
      ,[LastName] = @lastName
      ,[Mobile] = @mobileNumber     
 WHERE Id=@userId
END


GO
